<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150177314576-qbil33c7eo7e719p4k80leud4scae11n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150177314576-qbil33c7eo7e719p4k80leud4scae11n</string>
	<key>API_KEY</key>
	<string>AIzaSyBhq24DGT2vxuNk1yHqnhWP50w0gqVnpaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>150177314576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>c.photosApp</string>
	<key>PROJECT_ID</key>
	<string>photosapp-d81dd</string>
	<key>STORAGE_BUCKET</key>
	<string>photosapp-d81dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150177314576:ios:7bc62c545b775ac9b9d795</string>
	<key>DATABASE_URL</key>
	<string>https://photosapp-d81dd-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>